body {
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: white;
}

.home {
    height: 200vh; 
    padding-top: 5rem; 
}

.TopNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: 5rem;
    background-color: #1d1c1c;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
    box-sizing: border-box;

    z-index: 1000;

    transition: transform 0.3s ease;
    backdrop-filter: blur(10px);
}

/* LOGO */
.Logo h2 {
    color: #7a9e7e;
    font-size: 2.5rem;
    margin: 0;
}

/* NAV LINKS */
.NavigationBtns {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 2rem;
    align-items: center;
}

.NavigationBtns li a {
    text-decoration: none;
    color: #d8c3a5;
    font-size: 1.8rem;
    transition: color 0.2s ease;
}

.NavigationBtns li a:hover {
    color: #7a9e7e;
}

.headline{
    height: 100vh;
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/3e/71/25/outside-the-cafe.jpg?w=900&h=500&s=1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}